
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>calculadora</title>
</head>
<body>
    <div> 
        <form action="calcular" method="post">
            <label for="campo-numero-01">numero-01</label>
            <input type="number" name="numero01" id="campo-numero-01">
            <label for="campo-numero-02">numero-02</label>
            <input type="number" name="numero02" id="campo-numero-02">
            <input type="submit" value="calcular">
        </form>
    </div>
</body>
</html>
