
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
</head>
<body>
    <form action="/Recrutadora/Store" method="post">
        <div>
            <label for="campo-nome">Nome</label>
            <input type="text" name="recrutadora.Nome" id="campo-nome">
        </div>
        <div>
            <label for="campo-cpf">CPF</label>
            <input type="text" name="recrutadora.CPF" id="campo-cpf">
        </div>
        <div>
            <label for="campo-salario">Salário</label>
            <input type="text" name="recrutadora.Salario" id="campo-salario">
        </div>
        <div>
            <label for="campo-tempo-empresa">Tempo empresa</label>
            <select id="campo-tempo-espera" name="recrutadora.TempoEmpresa">
                <option value="1">1 ano</option>
                <option value="2">2 ano</option>
                <option value="3">3 ano</option>
                <option value="4">4 ano</option>
                <option value="5">5 ano</option>
                <option value="6">6 ano</option>

            </select>


        </div>
        <input type="submit" value="Salvar" />
    </form>
</body>
</html>
